<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div th:insert="~{fragments/navbar :: navbar}"></div>
ß

<div class="container mt-5">
    <h1 class="text-center">Log In</h1>
    <form action="/login" class="text-center" method="post">
        <div class="form-group">
            <label for="username">Username:</label>
            <input class="form-control" id="username" name="username" required type="text">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input class="form-control" id="password" name="password" required type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
    <p class="text-center">Don't have an account? <a href="/signup">Sign up</a></p>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
