<!DOCTYPE html>
<html lang="en-US" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>QR Code Generator</title>
    <div th:insert="~{fragments/fragments :: header}"></div>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>

<div th:insert="~{fragments/fragments :: navbar}"></div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="qr-code-container card mb-3">
                <form class="text-center" method="post" onsubmit="return validateForm()" th:action="@{/generateQRCode}">
                    <div class="mb-3">
                        <input class="form-control" id="url" name="url" required placeholder="Enter URL" type="url">
                        <div class="invalid-feedback">
                            Please enter a valid URL (e.g., https://www.google.com).
                        </div>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <div class="mb-3">
                            <label class="form-label" for="backgroundColor">Background Color</label>
                            <input class="form-control" id="backgroundColor" name="backgroundColor" type="color">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for "dotsColor">Dots Color</label>
                            <input class="form-control" id="dotsColor" name="dotsColor" type="color">
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block mb-3" type="submit">Generate QR Code</button>
                </form>
                <div class="mt-4" th:if="${qrCode}">
                    <div class="text-center">
                        <img alt="QR Code" class="img-fluid mx-auto d-block" th:src="'data:image/png;base64,' + ${qrCode}">
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <div class="mt-3">
                            <div class="mt-3">
                                <button class="btn btn-success mt-3" onclick="saveQRCode()">Save QR Code</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:insert="~{fragments/fragments :: scripts}"></div>
<script src="/js/qr-code.js"></script>
<script>
    document.getElementById("backgroundColor").value = "#FFFFFF"; // White
</script>

</body>
</html>
